.create_password_container{


}

.create_password_title{
    padding: 10px;
    height: 50px;
    font-weight: bold;
}

.checking_password_for_reliability_container{
    display: flex;
    justify-content: center;

}

.password_generation_container{
    padding: 5px;

}
.input_checking_password{
    padding-right: 5px;
}

.settings_password_generation_container{
    padding: 10px;
}